<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
    <head>  
    <!--  Static resources form Webjars -->
		<!--  Static resources form Webjars -->
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
		
	    <title>Index Page</title>  
    </head>  
    <body>  
    <div class="container" ng-app="myApp" ng-controller="productsCtrl">
    
    
       
    
     <!-- Table to show employee detalis -->
<input type="text" ng-model="search" class="form-control" placeholder="Search product..." /> 
<table class="table table-hover">
<tr>
<th>Emp ID</th>
<th>Employee Name</th>
<th>Age</th>
<th>Department</th>
<th></th>
<th></th>
</tr>
 <tbody ng-init="getAll()">
        <tr ng-repeat="d in names  | filter:search">
            <td class="text-align-center">{{ d.id }}</td>
            <td>{{ d.name }}</td>
            <td>{{ d.age }}</td>
            <td class="text-align-center">{{ d.dept }}</td>
            <td>
			<button class="btn btn-warning" ng-click="editInfo(d.id)" title="Edit"><span class="glyphicon glyphicon-edit"></span></button>
			</td>
			<td>
			<button class="btn btn-danger" ng-click="deleteInfo(d.id)" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
			</td>
        </tr>
    </tbody>
</table>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg " ng-click="openModal()">
    Add Employee
</button>

<!-- Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Add Employee details
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form role="form">
                  
                  <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                      <input type="text" ng-model="name" class="form-control"
                      id="exampleInputEmail1" placeholder="Enter employee name"/>
                  </div>
                  
                  <div class="form-group">
                    <label for="exampleInputPassword1">Age</label>
                      <input type="text" ng-model="age" class="form-control"
                          id="exampleInputPassword1" placeholder="Enter employee age"/>
                  </div>
                  
                  <div class="form-group">
                    <label for="exampleInputPassword1">Department</label>
                      <input type="text" ng-model="dept" class="form-control"
                          id="exampleInputPassword1" placeholder="Enter employee department"/>
                  </div>
                 
                  
                </form>
                
                
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
            
             <button type="button" ng-click="createProduct()" class="btn btn-primary addButton">
                    Add employee details
                </button>
                
                <button type="button"  ng-click="updateProduct()" class="btn btn-primary updateButton">
                    Update employee details
                </button>
            
                <button type="button" class="btn btn-default closeModal"
                        data-dismiss="modal">
                            Close
                </button>
               
            </div>
        </div>
    </div>
</div>



</div>



<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<!-- Include Bootstrap library -->
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<!-- Include AngularJS library -->
<script th:src="@{webjars/angularjs/1.6.6/angular.min.js}"></script>

<!-- Include custom AngularJS  -->
<script th:src="@{/resources/js/angular-script.js}"></script>

    </body>  
    
   
</html>  